[phases.setup]
nixPkgs = ["nodejs-20_x", "python3", "ffmpeg", "yt-dlp"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx vite preview --host 0.0.0.0 --port ${PORT:-8080}"
